.custom-button {
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
}

.custom-button:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.custom-button:active {
  cursor: pointer;
  filter: brightness(110%);
}

.primary {
  background-color: #5FE122;
}

.secondary {
  background-color: #C4C4C4;
}